# Backend Configuration
BACKEND_PORT=3000
UPLOADS_DIR=./.data/uploads
DATABASE_URL=file:./../.data/db.sqlite

# Apache Tika Configuration
TIKA_ENABLE=true
TIKA_URL=http://localhost:9998
TIKA_CMD="tika -t"

# Ollama Configuration
OLLAMA_URL=http://localhost:11434
